html, body {
    background: linear-gradient(to bottom right, #0d2f3b, #126767);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


main {
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.flex.flex-row {
    flex-direction: row;
}
.flex.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: end;
}
.centered {
    margin: 0 auto;
}
.box-sizing-content {
    box-sizing: content-box;
}

/************
creator
*************/
main .creator {
    height: 100%;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

main .creator .headshot {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}


main .creator .head {
    height: 100%;
    width: 100%;
}

/************
creator - hair
*************/

.hair-container {
    position: absolute;
    width: 100%;
    height: 100%;

}

.hair-container .base {

}

.hair-container  .hair {
    position: absolute;
}

.hair-container [class^="xl"] {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.hair-container [class^="xm"] {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.hair-container [class^="m"] {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.hair-container [class^="s"] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/*.hair-container .hair.h04 {*/
/*    top: 230px;*/
/*    left: 120px;*/
/*    background: linear-gradient(to bottom, #b45319, #e87833);*/

/*}*/

.hair-container .hair.h02 {
    top: 42px;
    left: 179px;
    z-index: 810;
    transform: rotate(2deg);
    clip-path: polygon(0 0, 100% 0%, 80% 0%, 0% 100%);
    background: #e58b19;
}

/*.hair-container .hair.h06 {*/
/*    top: 42px;*/
/*    left: 180px;*/
/*    z-index: 800;*/
/*    clip-path: polygon(0 0, 100% 0%, 72% 10%, 0% 100%);*/
/*    background: linear-gradient(to bottom, #f89828, #fcbc74);*/
/*}*/

.hair-container .hair.h03 {
    top: 110px;
    left: 140px;
    z-index: 800;

    box-shadow: 0 10px 10px rgba(131, 56, 12, 0.2);
    background: linear-gradient(to bottom left, #f6a751,  #e58b19);
}

.hair-container .hair.h12 {
    top: 140px;
    left: 105px;
    height: 160px;
    width: 250px;
    z-index: 50;
    border-radius: 50% 0 50%;
    transform: rotate(-70deg);
    box-shadow: inset 0 10px 10px rgba(131, 56, 12, 0.3);
    background: linear-gradient(to bottom right, #b06c13, #f89828);
}


/*.hair-container .hair.h05 {*/
/*    top: 210px;*/
/*    left: 89px;*/
/*    z-index: 1;*/
/*    box-shadow: 0 10px 10px rgba(131, 56, 12, 0.2);*/
/*    background: linear-gradient(to bottom left, #e58b19, #e87833);*/
/*}*/

.hair-container .hair.h07 {
    top: -70px;
    left: 265px;
    z-index: 811;
    border-radius: 50%;
    box-shadow: 0 60px 0 0 #eea95b;
    filter: drop-shadow(0px 8px 10px rgba(32, 35, 37, 0.2));
}

.hair-container .hair.h08 {
    top: 100px;
    left: 330px;
    z-index: 800;
    box-shadow: 0 10px 10px rgba(131, 56, 12, 0.2);
    background: linear-gradient(to bottom left, #fcbc74,  #e58b19);
}

.hair-container .hair.h09 {
    top: 150px;
    left: 250px;
    height: 150px;
    width: 250px;
    border-radius: 0 50% 0 50%;
    z-index: 50;
    transform: rotate(74deg);
    box-shadow: inset 0 10px 10px rgba(131, 56, 12, 0.3);
    background: linear-gradient(to bottom right, #b06c13, #f89828);
}
.hair-container .hair.h10 {
    top: -50px;
    left: 250px;
    z-index: 810;
    border-radius: 50%;
    box-shadow: 25px 60px 0 0 #f89828;
}
.hair-container .hair.h11 {
    top: 22px;
    left: 248px;
    z-index: 800;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 80% 100%);
    background: #e58b19;
}

.hair-container .hair.h01 {
    top: 35px;
    left: 340px;
    z-index: 805;
    border-radius: 50%;
    box-shadow: 20px 20px 0 0 #f6c287;
    transform: rotate(50deg);
}


/*.hair-container .hair.h13 {*/
/*    top: 235px;*/
/*    left: 360px;*/
/*    background: linear-gradient(to bottom, #b45319, #e87833);*/
/*    */
/*}*/


/************
creator - ears
*************/
.ears.left {
    position: absolute;
    content: "";
    height: 80px;
    width: 40px;
    border-radius: 40% 0 0 80%;
    background-color: #e0af9a;
    top: 190px;
    left: 160px;
    z-index: 100;
    box-shadow: inset -10px 10px 10px #f1a16f;
    border-left: 4px solid rgba(138, 66, 21, 0.4)
}

.ears.right {
    position: absolute;
    content: "";
    height: 80px;
    width: 40px;
    border-radius: 0 80% 40% 0;
    background-color: #e0af9a;
    z-index: 100;
    top: 190px;
    left: 390px;
    box-shadow: 10px 10px 30px #b06c13;
    border-left: 4px solid rgba(138, 66, 21, 0.4)
}

/************
creator - face
*************/
.face-container {
    width: 100%;
}

main .creator .face {
    position: absolute;
    z-index: 250;
    width: 280px;
    height: 420px;
    margin: 0 auto;
    clip-path: polygon(20% 12%, 67% 12%, 77% 18%, 95% 40%, 80% 77%, 62% 88%, 55% 90%, 45% 90%, 38% 88%, 20% 77%, 5% 45%, 12% 18%);
    background: linear-gradient(to bottom, #e0af9a, #efddc4);
    box-shadow: inset 0 30px 12em rgba(255, 156, 95, 0.89);

}

/*****************
creator - glasses
******************/

main .creator .glasses-container {
    position: relative;
    filter: drop-shadow(0px 8px 4px rgba(32, 35, 37, 0.2));
    top: 120px;
    z-index: 900;
}

.hashnode {
    margin: 0 auto;
    border-radius: 35px;
    background-color: #2962fb;
    transform: rotate(45deg);
    height: 95px;
    width: 95px;
    padding-top: 48px;
    padding-left: 51px;
}
.hashnode div {
    content: "";
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
}


/*************
creator - nose
**************/
.nose-container {
    position: relative;
    top: 240px;
    z-index: 899;
    width: 100%;
    height: 100px;
}

.nose {
    margin: 0 auto;
    height: 48px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #efddc4, rgba(241, 164, 131, 0.54));
    box-shadow: 0 10px 40px rgb(255, 241, 226);
    border-bottom: 4px solid rgba(29, 29, 29, .4);
}

/***************
creator - smile
***************/
.mouth-container {
    position: relative;
    margin: 0 auto;
    top: 145px;
    z-index: 899;
    width: 200px;
    height: 100px;

}

.smile {
    top: 15px;
    position: relative;
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0 100%);

    height: 100%;
    width: 100%;
}

.smile .mouth {
    height: 70%;
    width: 60%;
    border-radius: 50%;

    box-shadow: 0 5px 10px rgba(255, 107, 59, 0.52);
    background-color: #0d2f3b;
}

.teeth {
    position: absolute;
    margin: 0 auto;
    top: 15px;
    width: 60%;
    height: 40%;
    border-radius: 50%;
    background: radial-gradient(#fff, #bbb);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

/***************
creator - neck
***************/
.neck-container {
    position: absolute;
    z-index: 200;
    height: 120px;
    width: 100%;
    top: 320px;
}

.neck {
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 80px;
    box-shadow: inset 0 70px 20px rgba(108, 68, 36, 0.2);
    background-color: #e0af9a;
}

/***************
creator - body
***************/
.body {
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 420px;
}

.body .front-hoodie {
    position: absolute;
    z-index: 300;
}

.body .front-hoodie.left {
    position: relative;
    top: -20px;
    left: -50px;
    margin: 0 auto;
    height: 40px;
    width: 110px;
    z-index: 300;
    border-radius: 50% 90% 0;
    transform: rotate(8deg);
    background: linear-gradient(to left, #494949, #292929);

}
.body .front-hoodie.right {
    position: relative;
    top: -60px;
    left: 54px;
    margin: 0 auto;
    height: 40px;
    z-index: 300;
    width: 100px;
    border-radius: 90% 50% 50% 0;
    transform: rotate(-8deg);
    background: linear-gradient(to right, #494949, #292929);
}

.body .back-hoodie {
    background-color: #292929;
    position: absolute;
    z-index: 52;
    border-radius: 90px 90px 0 0;
    top: -84px;
    left: 183px;
    margin: 0 auto;
    height: 80px;
    width: 235px;
}

.body .clothes {
    background: #292929;
    position: relative;
    z-index: 50;
    border-radius: 70% 70% 0 0;
    top: -140px;
    margin: 0 auto;
    height: 530px;
    width: 425px;
}

/*******************
creator - background
*******************/
.bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: #191919;
    box-sizing: content-box;
    min-width: 700px;
}

.mount {
    z-index: 12;
    position: absolute;
    width: 80%;
    height: 300px;
    top: -300px;
    background: linear-gradient(to bottom, #efddc4, rgba(109, 185, 172, 0.2));
    clip-path: polygon(0 100%, 10% 84%, 20% 72%, 30% 50%, 50% 0, 70% 50%, 100% 100%);
}

.bg .building.A {
    height: 55px;
    width: 300px;
    background-color: #191919;
    position: relative;
    z-index: 24;
    top: -48px;
    left: -120px;
    clip-path: polygon(0 100%, 30% 0%, 32% 2%, 50% 10%, 67% 50%, 70% 80%, 100% 100%);
}

.bg .building.B {
    height: 145px;
    width: 400px;
    background-color: #191919;
    position: relative;
    z-index: 24;
    top: -145px;
    left: -120px;
    clip-path: polygon(0 100%, 50% 48%, 67% 50%, 70% 42%, 80% 38%, 87% 30%,  92% 20%, 97% 70%, 100% 100%);
}

.bg .building.C {
    height: 145px;
    width: 200px;
    background-color: #191919;
    position: relative;
    z-index: 24;
    top: -145px;
    left: -120px;
    clip-path: polygon(0 100%, 50% 25%, 67% 50%, 70% 80%, 80% 85%, 95% 89%,  100% 100%);
}

.bg .building.D {
    height: 145px;
    width: 600px;
    background-color: #191919;
    position: relative;
    z-index: 24;
    top: -145px;
    left: -120px;
    clip-path: polygon(0 100%, 50% 10%, 67% 50%, 70% 80%, 80% 85%, 95% 89%,  100% 100%);
}

/*******************
creator - stars
*******************/
.stars {
    width: 100%;
    height: 100%;
    position: fixed;
}

.stars .star {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #efddc4;
    position: relative;
}

.stars .s10 {
    top: 40px;
    left: 10%;
}
.stars .s11 {
    top: 140px;
    left: 18%;
}
.stars .s12 {
    top: 145px;
    left: 18.5%;
    opacity: 50%;
}
.stars .s13 {
    top: 450px;
    left: 23%;
    opacity: 80%;
}
.stars .s14 {
    top: 250px;
    left: 80%;
    opacity: 80%;
}
.stars .s15 {
    top: 90px;
    left: 78.5%;
    opacity: 100%;
}
.stars .s16 {
    top: 120px;
    left: 75%;
    opacity: 80%;
}
.stars .s17 {
    top: 160px;
    left: 90%;
    opacity: 80%;
}
.stars .s18 {
    top: 190px;
    left: 72%;
    opacity: 50%;
}
.stars .s19 {
    top: 40%;
    left: 97%;
    opacity: 80%;
}

